{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static '/js/equipos/tipo_equipo.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header" style="margin-top: -5%">Tipo de equipos</h1>

  <div style="float: right;margin-top: -2%">
    <button type="button" class="btn btn-success js-create-tipo-equipo" data-url="{% url 'tipo_equipo_create' %}">
<i class="fas fa-user-plus"></i>

    </button>
  </div>

  <table class="table" id="tipo-equipo-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      {% include 'TipoEquipos/includes/partial_tipo_equipos_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-tipo-equipo">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}