{% for tipo in tipos_equipos %}
  <tr>
    <td>{{ tipo.id_tipos_equipos }}</td>
    <td>{{ tipo.tipo }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-tipo-equipo"
              data-url="{% url 'tipo_equipo_update' tipo.id_tipos_equipos %}">
        <i class="far fa-edit"></i>
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-tipo-equipo"
              data-url="{% url 'tipo_equipo_delete' tipo.id_tipos_equipos %}">
        <i class="far fa-trash-alt"></i>
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning animated bounceIn">No hay tipos</td>
  </tr>
{% endfor %}