<form method="post" action="{% url 'tipo_equipo_delete' tipos_equipos.id_tipos_equipos %}" class="js-tipo-equipo-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirmar elminar tipo de equipo</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <h5 class="">Esta seguro de eliminar el tipo de equipo <strong>{{ tipos_equipos }}</strong>?</h5>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </div>
</form>